{% extends "base.html" %}
{% block content %}
<div id="sidebar">
    {% block sidebar %}<ul><li><a href="/imovie">Home</a></li></ul>{% endblock %}
</div>
<h1>
	{{ movie.name }}
    (<a  href="{%  url  'imovie:movie_edit'  movie.id  %}">edit</a>)
    (<a  href="{%  url  'imovie:movie_delete'  movie.id  %}">delete</a>)
</h1>
<p>
	<year> Year: {{ movie.year }} </year>  <br />
	<overview> Overview: {{ movie.overview }} </overview>  <br />
	<director> Director: {{ movie.director }} </director> <br />
	<actors> Actors:
		{% for actor in movie.actors.all %}
			<li><a href="../../imovie/actor/{{movie.id}}">
				{{ actor.name }}</a></li>
		{% endfor %}
	</actors>  <br />
	<review> Review:
		{% for review in movie.rate.all %}
			{{review.rating}} <br />
			{{review.comment}} <br />
		{% endfor %}
</p>  <br />
<a  href="/imovie/movie">Return to Movies</a>
{% endblock %}
